@import url('https://fonts.googleapis.com/css2?family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
  font-family: 'Libertinus Serif';
}

* {
  margin: 0%;
}

#titulo {
  width: 100%;
  height: 200px;
  background-color: rgb(102, 0, 153);
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#iamgenn {
 margin: auto;
  display: flex;
}
#imagenn{
margin: auto;
display: flex;
}

.texto {
  width: 100%;
  height: 400px;
  display: flex;
}

.primera {
  width: 30%;
  height: 300px;
  background-color: rgb(0, 0, 0);
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-size: 3em;
  color: white;
}

.segunda {
  width: 70%;
  height: 300px;
  background-color: rgb(0, 0, 0);
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  text-align: center;
  align-content: center;
  font-size: 2em;
  color: white;
}



.backup {
  position: fixed;
  bottom: 20px;
  right: 20px;
}